<a href="https://colab.research.google.com/github/MadhanYerramsetti/Artificial-Intelligence-and-Machine-Learning-/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Task1-Create Two lists and Join Those Two lists

In [3]:
test_List1 =[1,14,15,6,5 ]

In [4]:
test_List2 =[3,4,7,12,51]

In [7]:
test_List3 = test_List1 + test_List2

In [11]:
print("concatented list using + :" + str(test_List3))

concatented list using + :[1, 14, 15, 6, 5, 3, 4, 7, 12, 51]

In [12]:
#Task2-With 'if' Statement Find the Even numbers

In [17]:
num = int (input("Enter a number:"))
if(num % 2)==0:
    print ("The number is even")
else:
    print ("The number is not even")

Enter a number:6
The number is even

In [18]:
#Task3-Create a dictionary With 3 keys and 2 values for each key

In [29]:
demo = {'first':[1,2],
        'second':[3,4],
        'third': [5,6]}

In [30]:
example = demo['first']

In [31]:
print(example)

[1, 2]

In [32]:
#Task4-Create a function with 'if'Statement which is used to find the odd numbers

In [37]:
number = int(input("enter any number:"))
if(number %2)==0:
  print("{0}is not an odd number".format(number))
else:
  print("{0}is an odd number".format(number))

enter any number:47
47is an odd number

In [38]:
#Task5-write a python function to sum all the numbers in a list
#sample list:(8,2,3,0,7)
#Expected Output:20

In [39]:
list1=[8,2,3,0,7]

In [40]:
total=sum(list1)

In [41]:
print ("The sum of elements in list:", total)

The sum of elements in list: 20